@{
    Layout = "/Views/Shared/_XCourseLayout.cshtml";
}

@section Styles {
    @RenderSection("Styles", false)
}

@RenderBody()

@section NavigationMenu {
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Home" asp-area="Teachers" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
            <i class="fa-solid fa-house nav-icon"></i>
            <span class="nav-text">Home</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Group" asp-area="Teachers" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Group" ? "active" : "")">
            <i class="fa-solid fa-users nav-icon"></i>
            <span class="nav-text">Groups</span>

        </a>
    </li>
    
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Sessions" asp-area="Teachers" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Sessions" ? "active" : "")">
            <i class="fa-solid fa-video nav-icon"></i>
            <span class="nav-text">Sessions</span>
        </a>
    </li>

    <li class="nav-item">
        <a asp-action="Index" asp-controller="Announcement" asp-area="Teachers" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Announcement" ? "active" : "")">
            <i class="fa-solid fa-bullhorn nav-icon"></i>
            <span class="nav-text">Announcements</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Subject" asp-area="Teachers" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Subject" ? "active" : "")">
            <i class="fa-solid fa-file-pen nav-icon"></i>
            <span class="nav-text">Subjects</span>
        </a>
    </li>
	<li class="nav-item">
		<a asp-action="TopUpWallet" asp-controller="Payment" asp-area="Teachers" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Payment" ? "active" : "")">
			<i class="fa-solid fa-wallet nav-icon"></i>
			<span class="nav-text">Wallet</span>
		</a>
	</li>
}

@section Scripts {
    @RenderSection("Scripts", false)
}