@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Linked Accounts";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="col-12">
    <div class="col-12">
        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
    <section id="form-section" class="form-section col-12 ">
        <div class="form-container">
            <h1 class="form-header">@ViewData["Title"]</h1>
            @if (Model.CurrentLogins?.Count > 0)
            {
                @foreach (var login in Model.CurrentLogins)
                {
                    @if (Model.ShowRemoveButton)
                    {
                        <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                            <div class="form-click">
                                <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                <p id="@($"login-provider-{login.LoginProvider}")">@login.ProviderDisplayName</p>
                                <button type="submit" class="btn btn-primary" title="Remove this @login.ProviderDisplayName login from your account">Remove</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        @: &nbsp;
                    }
                }
            }
            @if (Model.OtherLogins?.Count > 0)
            {
                <h1 class="form-header">Connect Other Accounts</h1>
                <form id="link-login-form" asp-page-handler="LinkLogin" method="post">
                    @foreach (var provider in Model.OtherLogins)
                    {
                        <div class="form-click">
                            <p>@provider.DisplayName</p>
                            <button id="@($"link-login-button-{provider.Name}")" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Connect</button>
                        </div>
                    }
                </form>
            }
        </div>
    </section>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
