@model XCourse.Core.ViewModels.AssistantViewModels.PendingRequestVM

@{
    ViewData["Title"] = "Reject Invitation";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Assistants/Card.css" />
}

<div class="container">
    <div class="teacher-card">
        <div class="teacher-card__header">
            Are you sure you want to reject this Request?
        </div>
        <div class="teacher-card__row">
            <div class="teacher-card__label">Teacher Name:</div>
            <div class="teacher-card__value">@Model.TeacherName</div>
        </div>
        <div class="teacher-card__row">
            <div class="teacher-card__label">Subject:</div>
            <div class="teacher-card__value">@Model.SubjectName</div>
        </div>
        <div class="teacher-card__row">
            <div class="teacher-card__label">Major:</div>
            <div class="teacher-card__value">@Model.Major</div>
        </div>
        <div class="teacher-card__row">
            <div class="teacher-card__label">Year:</div>
            <div class="teacher-card__value">@Model.Year</div>
        </div>
        <div class="teacher-card__row">
            <div class="teacher-card__label">Semester:</div>
            <div class="teacher-card__value">@Model.Semester</div>
        </div>
        <div class="teacher-card__actions" style="justify-content: center;">

        <a asp-action="Reject" asp-route-id="@Model.InvitationID"
            class="btn btn--reject"
            style="display: inline-block; text-decoration: none;">
            <i class="fas fa-xmark"></i>
            Reject
        </a>
        <a asp-action="Index"
            class="btn btn--accept"
            style="display: inline-block; text-decoration: none;">
            <i class="fas fa-arrow-left"></i>
            Go Back
        </a>

        </div>
     </div>
</div>
