@{
    Layout = "/Views/Shared/_XCourseLayout.cshtml";
}

@section Styles {
    @RenderSection("Styles", false)
}

@RenderBody()

@section NavigationMenu {

    <li class="nav-item">
        <a asp-action="Index" asp-controller="Center" asp-area="CenterAdmins" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Center"
                                                                                                || ViewContext.RouteData.Values["controller"]?.ToString() == "Room"
                                                                                                || ViewContext.RouteData.Values["controller"]?.ToString() == "Reservation" ? "active" : "") ">
            <i class="fa-solid fa-building nav-icon"></i>
            <span class="nav-text">Centers</span>
        </a>
    </li>

    <li class="nav-item">
        <a asp-action="TopUpWallet" asp-controller="Payment" asp-area="CenterAdmins" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Payment" ? "active" : "") ">
            <i class="fa-solid fa-wallet  nav-icon"></i>
            <span class="nav-text">Wallet</span>
        </a>
    </li>
}

@section Scripts {
    @RenderSection("Scripts", false)
}