@model IEnumerable<XCourse.Core.ViewModels.CenterAdminViewModels.CenterViewModel>




<p>
    <a asp-action="Create" asp-route-centeradminid="@ViewBag.centeradmin" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGirlsOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGirlsOnly)
            </td>
            <td>

                    @Html.DisplayFor(modelItem => item.Address.City)
                </td>
            <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.CenterID }, new { @class = "btn btn-outline-danger btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CenterID }, new { @class = "btn btn-outline-danger btn-sm" }) |
                    <a asp-area="CenterAdmins" asp-controller="Room" asp-action="Index" asp-route-id="@item.CenterID"
                       class="btn btn-outline-danger btn-sm">
                        Rooms
                    </a>
                    @Html.ActionLink("Reservations", "Reservations", new { id = item.CenterID }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
